{% extends 'overall/layout' %}

{% block appBody %}

    <!-- incluyendo el header -->
    {% include 'overall/includes/ebooks' %}

    <style>
        #e1_parrafo_hidden, #e2_parrafo_hidden, #e3_parrafo_hidden, #e4_parrafo_hidden{
            display: none;
        }
        .sinopsis{
            margin: 3% auto;
        }

        .titulo_ebook{
            text-transform: uppercase;
        }
    </style>
    
     <!-- ebook joven resiliente -->
    <div class="w3-row-padding w3-white" id="cuarentena_unbj">
        <h3 class="w3-xlarge w3-text-flat-green-sea w3-center margin-top-20 titulo_ebook"><b> Lo que aprendí esta cuarentena <br/>2do. Ebook </b></h3>
        <div class="w3-col l4 m6 s12 w3-center">
            <div class="w3-display-container">
                <img src="assets/app/img/libros/cuarentena_unbj_2do_ebook.jpg" class="w3-image w3-margin-top" width="335" height="471">
            </div>

            <button class="w3-button w3-padding w3-section w3-text-green" onclick="descargar_ebook('6');">
                <i class="fa fa-download"></i> Adquiere una copia del libro.
            </button>
            <br>
        </div>

        <div class="w3-col l8 m6 s12">
            <p class="sinopsis w3-large">
                <b>Alianza estratégica:</b><br/>
                <strong class="strong-no-bolder">
                    Biblioteca Virtual MUF
                </strong>
                    <br/>
                <strong class="strong-no-bolder">
                    Unión Nacional Bautista de Jóvenes de Venezuela
                </strong>
                <br/><br/>
                Jóvenes Bautistas Venezolanos Compartiendo sus Experiencias de Resilencia y Resilencia en Tiempo de Cuarentena
                <br/><br/>
                <b>Coordinador Proyecto E-Book</b><br/>
                <strong class="strong-no-bolder">Darío Ortega</strong>
                <br/><br/>
                <b>Presidente UNBJ Venezuela</b><br/>
                <strong class="strong-no-bolder">Iván Eliú Martínez</strong>
                <br/><br/>
                <b>Prólogo</b><br/>
                <strong class="strong-no-bolder">Daniel Moore</strong>
                <br/><br/>
                <b>Introducción</b><br/>
                <strong class="strong-no-bolder">Luzmery Albornoz de Ortega</strong>
                <br/>
            </p>
        </div>
    </div>

     <!-- ebook joven resiliente -->
    <div class="w3-row-padding w3-white" id="habla_señor">
        <h3 class="w3-xlarge w3-text-flat-midnight-blue w3-center margin-top-20 titulo_ebook"><b> Habla, Señor, que tu Siervo Escucha </b></h3>
        <div class="w3-col l4 m6 s12 w3-center">
            <div class="w3-display-container">
                <img src="assets/app/img/libros/habla_señor_ebook.jpg" class="w3-image w3-margin-top" width="335" height="471">
            </div>

            <button class="w3-button w3-padding w3-section w3-text-green" onclick="descargar_ebook('5');">
                <i class="fa fa-download"></i> Adquiere una copia del libro.
            </button>
            <br>
        </div>

        <div class="w3-col l8 m6 s12">
            <p class="sinopsis w3-large">
                <b>Alianza estratégica:</b><br/>
                <strong class="strong-no-bolder">
                    Biblioteca Virtual MUF
                </strong>
                    <br/>
                <strong class="strong-no-bolder">
                    Unión de Pastores Bautistas de Venezuela
                </strong>
                <br/><br/>
                <b>Inspirador y desafiante Ebook donde:
                </b><br/>
                20 Pastores Bautistas Venezolanos Compartiendo sus Experiencias de Llamamiento al Ministerio y Resilencia en Tiempo de Crisis.
                <br/><br/>
                <b>Coordinador Proyecto E-Book</b><br/>
                <strong class="strong-no-bolder">Darío Ortega</strong>
                <br/><br/>
                <b>Prólogo</b><br/>
                <strong class="strong-no-bolder">Jorge Arias</strong>
                <br/>
            </p>
        </div>
    </div>

    <!-- ebook joven resiliente -->
    <div class="w3-row-padding w3-white" id="joven">
        <h3 class="w3-xlarge w3-text-blue w3-center margin-top-20 titulo_ebook"><b> JOVEN RESILIENTE </b></h3>
        <div class="w3-col l4 m6 s12 w3-center">
            <div class="w3-display-container">
                <img src="assets/app/img/libros/joven_resilente.jpeg" class="w3-image w3-margin-top" width="335" height="471">

                <div class="w3-display-middle w3-large w3-hide" onclick="document.getElementById('preview_joven').style.display='block'">
                    <button class="w3-button w3-white w3-text-blue w3-hover-white w3-hover-text-green">
                        Vista Previa del E-Book
                    </button>
                </div>
            </div>

            <div class="w3-large w3-hide" onclick="document.getElementById('preview_joven').style.display='block'">
                <button class="w3-button w3-white w3-text-blue w3-hover-white w3-hover-text-green">
                    Vista Previa del E-Book
                </button>
            </div>

            <button class="w3-button w3-padding w3-section w3-text-green" onclick="descargar_ebook('4');">
                <i class="fa fa-download"></i> Adquiere una copia del libro.
            </button>
            <br>
        </div>

        <div class="w3-col l8 m6 s12">
            <p class="sinopsis w3-large">
                Ser adolescente o joven en esta época tan convulsionada a nivel mundial es un gran desafío. Esta etapa de la vida es una extraordinaria oportunidad para formular y desarrollar un proyecto de vida centrado en el propósito de Dios.<br><br>

                La resiliencia es una virtud dada por Dios a todo ser humano. Es factible ser joven resiliente para enfrentar la crisis de la vida y por encima de todo cumplir su misión de vida. <span id="e4_suspensivos"> ... </span>
                <span id="e4_parrafo_hidden">
                Este libro nos presenta una visión desde la perspectiva juvenil de la resiliencia y sus beneficios para el joven.
                <br><br>

                En este E-Book los jóvenes podrán encontrar recursos para propiciar la reflexión que le lleve a responder a preguntas más profundas en su vida. También una guía para el desarrollo de una autoestima, autoimagen y autoconocimiento saludable.
                <br><br>
                Recurso imprescindible para los padres, líderes juveniles, maestros, docentes universitarios, entrenadores deportivos y todo aquel que trabaje en las nuevas generaciones.
                </span>
            </p>

            <a id="e4_ver_mas" class="w3-button w3-blue w3-block w3-hover-red" onclick="e4_readmore();">
                Leer mas
            </a>

            <i class="w3-block w3-section">
                <strong class="w3-large">
                    Autor: Darío Ortega <br>
                    Prólogo: Misionera Lic. Robín Elizabeth White de Tinley.<br>
                    Introducción: Dra. Lupita Moore.
                </strong>
            </i>

        </div>
    </div>

    <script>
        function e4_readmore(){
            boton = document.getElementById("e4_ver_mas");
            parrafo_hidden = document.getElementById("e4_parrafo_hidden");
            puntos_suspensivos = document.getElementById("e4_suspensivos");

            if (puntos_suspensivos.style.display === "none") {
                puntos_suspensivos.style.display = "inline";
                boton.innerHTML = "Leer mas";
                parrafo_hidden.style.display = "none";
            } else {
                puntos_suspensivos.style.display = "none";
                boton.innerHTML = "Menos";
                parrafo_hidden.style.display = "inline";
            }
        }
    </script>

    <!-- ebook llamado misionero-->
    <div class="w3-row-padding w3-white" id="cyberia">
        <h3 class="w3-xlarge w3-text-blue w3-center margin-top-20 titulo_ebook"><b> Llamado Misionero<br> a Cyberia </b></h3>
        <div class="w3-col l4 m6 s12 w3-center">
            <div class="w3-display-container">
                <img src="assets/app/img/libros/mini_llamado_misionero_ciberia.jpg" class="w3-image w3-margin-top" width="335" height="471">

                <div class="w3-display-middle w3-large w3-hide" onclick="document.getElementById('preview_cyberia').style.display='block'">
                    <button class="w3-button w3-white w3-text-blue w3-hover-white w3-hover-text-green">
                        Vista Previa del E-Book
                    </button>
                </div>
            </div>

            <div class="w3-large w3-hide" onclick="document.getElementById('preview_cyberia').style.display='block'">
                <button class="w3-button w3-white w3-text-blue w3-hover-white w3-hover-text-green">
                    Vista Previa del E-Book
                </button>
            </div>

            <button class="w3-button w3-padding w3-section w3-text-green" onclick="descargar_ebook('2');">
                <i class="fa fa-download"></i> Adquiere una copia del libro.
            </button>
            <br>
        </div>

        <div class="w3-col l8 m6 s12">
            <p class="sinopsis w3-large">
                Nuevos escenarios, nueva normalidad, nuevos desafíos nos presentan nuevas oportunidades de cumplir la MISIÓN<br><br>

                La dinámica digital con su virtualidad está formando a los jóvenes que interactúan con sus pares, contactando a los de otras generaciones y formando una nueva forma de concebir la cultura, o mejor dicho el inicio de la nueva cibercultura, propia de la naciente Nación Cyberia.
                <span id="e3_suspensivos"> ... </span>
                <span id="e3_parrafo_hidden">
                    <br><br>
                    Dios está llamando a los creyentes a cumplir la misión integral con una visión glocal, de alcance y discipulado en Cyberia (ciberespacio).
                    <br><br>
                    Este E-Book nos presenta una perspectiva sociológica, antropológia, teológica y bíblica del desafío-oportunidad que nos presentan las comunidades virtuales. El misionero Pablo Tinley aportó el prólogo, otros han hecho su aporte para esta publicación.
                </span>
            </p>

            <a id="e3_ver_mas" class="w3-button w3-blue w3-block w3-hover-red" onclick="e3_readmore();">
                Leer mas
            </a>

            <i class="w3-block w3-section">
                <strong class="w3-xlarge">Autor: Darío Ortega <br> Prólogo: Pablo Tinley</strong>
            </i>

        </div>
    </div>

    <script>
        function e3_readmore(){
            boton = document.getElementById("e3_ver_mas");
            parrafo_hidden = document.getElementById("e3_parrafo_hidden");
            puntos_suspensivos = document.getElementById("e3_suspensivos");

            if (puntos_suspensivos.style.display === "none") {
                puntos_suspensivos.style.display = "inline";
                boton.innerHTML = "Leer mas";
                parrafo_hidden.style.display = "none";
            } else {
                puntos_suspensivos.style.display = "none";
                boton.innerHTML = "Menos";
                parrafo_hidden.style.display = "inline";
            }
        }
    </script>

    <div class="w3-row-padding w3-white" id="cuarentena">
        <h3 class="w3-xlarge w3-text-red w3-center margin-top-20 titulo_ebook">
            <b> LO QUE APRENDÍ EN ESTA CUARENTENA </b>
        </h3>

        <div class="w3-col l4 m6 w3-center s12">
            <div class="w3-display-container">
                <img src="assets/app/img/libros/mini_lo_que_aprendi_esta_cuarentena.jpg" class="w3-image w3-margin-top" width="335" height="471">

                <div class="w3-display-middle w3-hide w3-large" onclick="document.getElementById('preview_cuarentena').style.display='block'">
                    <button class="w3-button w3-white w3-text-red w3-hover-white w3-hover-text-blue">
                        Vista Previa del E-Book
                    </button>
                </div>
            </div>

            <div class="w3-large w3-hide" onclick="document.getElementById('preview_cuarentena').style.display='block'">
                <button class="w3-button w3-white w3-text-red w3-hover-white w3-hover-text-green">
                    Vista Previa del E-Book
                </button>
            </div>

            <button class="w3-button w3-padding w3-section w3-text-green" onclick="descargar_ebook('3');">
                <i class="fa fa-download"></i> Adquiere una copia del libro.
            </button>
        </div>

        <div class="w3-col l8 m6 s12">
            <p class="sinopsis w3-large">
                Anunciamos nuestro nuevo recurso digital para todos de forma gratuita. En este E-BOOK varios líderes juveniles de Venezuela, el Caribe, Suramérica, Estados Unidos y Europa, han dedicado tiempo de escribir para compartir sus experiencias resilientes, aprendizajes de crecimiento personal y espiritual en medio de esta Cuarentena.<br><br>

                <span class="w3-large w3-block w3-center"><b>Breve descripción del libro</b></span>
                <br>

                Con este E-BOOK la idea es proveer un recurso literario con enfoque espiritual a través de <span id="e2_suspensivos"> ... </span> <br>
                <span id="e2_parrafo_hidden">experiencias de resiliencia, aprendizaje bíblico y crecimiento personal, familiar y en valores durante el tiempo de cuarentena.
                Buscamos alcanzar los siguientes objetivos:
                • Edificar a los lectores con relatos enfocados en la vida espiritual.<br>
                • Fomentar la resiliencia como estilo de vida para enfrentar las adversidades.<br>
                • Enseñar principios bíblicos para tiempos de crisis.
                <br><br>
                <strong>El Dr. Daniel Moore <i>(USA)</i> nos aporta el prólogo desde su visión psicológica y pastoral.</strong>
                <br><br>
                Es sumamente conveniente la lectura de este libro para lideres juveniles, maestros, docentes, padres y sobre todo los jóvenes que deseen ser inspirados con los testimonios de jóvenes ubicados en varios lugares del mundo, quienes con la ayuda de Dios han vencido siendo resilientes y de la manos de Dios en medio de esta Cuarentena.
                </span>
            </p>

            <a id="e2_ver_mas" class="w3-button w3-blue w3-block w3-hover-red" onclick="e2_readmore();">
                Leer mas
            </a>

            <i class="w3-block w3-section">
                <strong class="w3-xlarge"> Varios Autores </strong>
            </i>
        </div>
    </div>

    <script>
        function e2_readmore(){
            boton = document.getElementById("e2_ver_mas");
            parrafo_hidden = document.getElementById("e2_parrafo_hidden");
            puntos_suspensivos = document.getElementById("e2_suspensivos");

            if (puntos_suspensivos.style.display === "none") {
                puntos_suspensivos.style.display = "inline";
                boton.innerHTML = "Leer mas";
                parrafo_hidden.style.display = "none";
            } else {
                puntos_suspensivos.style.display = "none";
                boton.innerHTML = "Menos";
                parrafo_hidden.style.display = "inline";
            }
        }
    </script>


    <div class="w3-row-padding w3-padding-64 w3-white" id="post-covid">
        <h3 class="w3-xlarge w3-text-blue w3-center margin-top-20 titulo_ebook">
            <b> REENCUENTRO CON LAS NUEVAS GENERACIONES POST COVID-19</b>
        </h3>

        <div class="w3-col l4 m6 s12 w3-center">
            <div class="w3-display-container">
                <img src="assets/app/img/libros/libro_mini.jpeg" class="w3-image w3-round" width="335" height="471">

                <div class="w3-display-middle w3-hide w3-large" onclick="document.getElementById('preview_reencuentro').style.display='block'">
                    <button class="w3-button w3-white w3-text-green w3-hover-white w3-hover-text-blue">
                        Vista Previa del E-Book
                    </button>
                </div>

            </div>

            <div class="w3-large w3-hide" onclick="document.getElementById('preview_reencuentro').style.display='block'">
                <button class="w3-button w3-white w3-text-blue w3-hover-white w3-hover-text-green">
                    Vista Previa del E-Book
                </button>
            </div>

            <button class="w3-button w3-padding w3-section w3-text-green" onclick="descargar_ebook('1');">
                <i class="fa fa-download"></i> Adquiere una copia del libro.
            </button>

        </div>

        <div class="w3-col l8 m6 s12">
            <p class="sinopsis w3-large">
                ¿Cómo conectar con las nuevas generaciones post COVID 19? ¿Cuáles serán los nuevos desafíos que nos traerá el nuevo escenario en trabajo con las nuevas generaciones? Este libro nos presenta una cosmovisión desde una perspectiva psicosocial y teológica de lo que podrían ser los posibles escenarios y modos de abordar en la conexión con los jóvenes luego de superada la pandemia.
                <span id="e1_suspensivos"> ... </span>
                <span id="e1_parrafo_hidden">
                <br><br>
                Un vistazo a las nuevas generaciones pre COVID 19, los efectos psicosociales en tiempo de cuarentena, el proceso de ampliar una mayor compresión de la nueva realidad para hacer ser efectivos y eficientes en el abordaje de los jóvenes para ayudarles a desarrollar su potencial integralmente. Anticipar los nuevos desafíos de este escenario post COVID 19, conectando con las nuevas generaciones de forma autentica para promover una metamorfosis total que afecte positivamente el futuro de nuestras naciones.
                <br><br>
                Puedes descargar este libro que será útil para los jóvenes, líderes juveniles, docentes, profesores universitarios, padres y todas las organizaciones que trabajan en medio de las comunidades de las nuevas generaciones. Luego de leerlo déjanos saber tu opinión del libro, colgando tu comentario en esta página.
                <br><br>
                GoMUF está trabajando en otros materiales y recursos útiles para todos!
                </span>
            </p>

            <a id="e1_ver_mas" class="w3-button w3-blue w3-block w3-hover-red" onclick="e1_readmore();">
                Leer mas
            </a>

            <p class="w3-block w3-center">
                <i><strong class="w3-xlarge">Autor: Darío Ortega </strong></i><br>
                <a href="https://www.facebook.com/darluz.mufvalencia" target="_blank">
                    <i class="fa fa-facebook w3-xlarge w3-text-blue"></i>&nbsp;&nbsp;
                </a>
                <a href="https://www.instagram.com/darluz.ortega/" target="_blank">
                    <i class="fa fa-instagram w3-xlarge w3-text-purple"></i>&nbsp;&nbsp;
                </a>
                <a href="https://wa.link/g2z66d" target="_blank">
                    <i class="fa fa-whatsapp w3-xlarge w3-text-green"></i>
                </a>
            </p>
        </div>

    </div>

    <script>
        function e1_readmore(){
            boton = document.getElementById("e1_ver_mas");
            parrafo_hidden = document.getElementById("e1_parrafo_hidden");
            puntos_suspensivos = document.getElementById("e1_suspensivos");

            if (puntos_suspensivos.style.display === "none") {
                puntos_suspensivos.style.display = "inline";
                boton.innerHTML = "Leer mas";
                parrafo_hidden.style.display = "none";
            } else {
                puntos_suspensivos.style.display = "none";
                boton.innerHTML = "Menos";
                parrafo_hidden.style.display = "inline";
            }
        }
    </script>

    <!-- Preview misiones en cyberia -->
    <div id="preview_cyberia" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content w3-display-container">
            <b onclick="document.getElementById('preview_cyberia').style.display='none'" class=" w3-xlarge w3-button w3-text-green w3-hover-text-red w3-display-right">Cerrar</b>
            <div class="w3-row">
                <embed src="assets/app/doc/preview_cyberia.pdf" type="application/pdf" width="100%" height="900px" />
            </div>
        </div>
    </div>

    <!-- Preview lo que aprendi en cuarentena -->
    <div id="preview_cuarentena" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content w3-display-container">
            <b onclick="document.getElementById('preview_cuarentena').style.display='none'" class="w3-large w3-button w3-text-green w3-hover-text-red w3-display-right">Cerrar</b>
            <div class="w3-row">
                <embed src="assets/app/doc/preview_cuarentena.pdf" type="application/pdf" width="100%" height="900px" />
            </div>
        </div>
    </div>

    <!-- Preview Reencuentro -->
    <div id="preview_reencuentro" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content w3-display-container">
            <b onclick="document.getElementById('preview_reencuentro').style.display='none'" class=" w3-xlarge w3-button w3-text-green w3-hover-text-red w3-display-right">Cerrar</b>
            <div class="w3-row">
                <embed src="assets/app/doc/preview_reencuentro.pdf" type="application/pdf" width="100%" height="900px"/>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div id="download_ebook" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content" style="padding:32px">
            <div class="w3-row">
                <form id="download_form" class="w3-container w3-white w3-col l6 m7">
                    <h3 class="w3-wide w3-center w3-text-green">
                        <strong id="modal_titulo_ebook"></strong>
                    </h3>
                    <hr>
                    <p class="w3-large w3-text-gray">
                        Antes de descargar una copia del libro, nos gustaría saber tu nombre, tu correo electrónico y también saber que expectativas tienes sobre el.
                        Esto con el fin de compatir a futuro comentarios sobre el E-book o crear un nuevo contacto con nuevos hermanos en Cristo.</p>
                    <p>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <input type="hidden" value="" id="input_ebook">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Nombre" required name="name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Correo Electrónico" required name="email">
                        </div>
                    </div>
                    <textarea col="5" row="5" class="w3-input w3-border" placeholder="Mensaje" required name="msj"></textarea>
                    <input type="hidden" name="book_type" id="book_type" value>
                    <hr>
                    <button id="download_btn" type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Descargar E-Book</button>
                </form>
                <div class="w3-container w3-rest">
                    <i onclick="document.getElementById('download_ebook').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-text-red w3-right w3-hover-text-green w3-hover-white"></i>
                    <br><br><br>
                    <img class="w3-image w3-right w3-hide-small" width="335" height="500" id="imagen_ebook" />
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block appFooter %}
<script src="assets/jscontrollers/home/actions.js"></script>
<script>
    function descargar_ebook(ebook){
        modal = document.getElementById('download_ebook');
        titutlo_modal = document.getElementById('modal_titulo_ebook');
        img = document.getElementById('imagen_ebook');
        input_ebook = document.getElementById('input_ebook');

        switch (ebook) {
            case '1':
                url_pdf = "assets/app/doc/REENCUENTRO CON LAS NUEVAS GENERACIONES POST COVID 19.pdf";
                src_img = "assets/app/img/libros/libro_mini.jpeg";
                titulo = "REENCUENTRO CON LAS NUEVAS GENERACIONES POST COVID-19";
                break;

            case '2':
                url_pdf = "assets/app/doc/LLAMADO MISIONERO A CYBERIA.pdf";
                src_img = "assets/app/img/libros/mini_llamado_misionero_ciberia.jpg";
                titulo = "Llamado Misionero a Cyberia";
                break;

            case '3':
                url_pdf = "assets/app/doc/LO QUE APRENDI ESTA CUARENTENA.pdf";
                src_img = "assets/app/img/libros/mini_lo_que_aprendi_esta_cuarentena.jpg";
                titulo = "LO QUE APRENDÍ EN ESTA CUARENTENA";
                break;

            case '4':
                url_pdf = "assets/app/doc/JOVEN RESILIENTE.pdf";
                src_img = "assets/app/img/libros/joven_resilente.jpeg";
                titulo = "JOVEN RESILIENTE";
                break;

            case '5':
                url_pdf = "assets/app/doc/HABLA SEÑOR QUE TU SIERVO ESCUCHA.pdf";
                src_img = "assets/app/img/libros/habla_señor_ebook.jpg";
                titulo = "HABLA, SEÑOR, QUE TÚ SIERVO ESCUCHA";
                break;

            case '6':
                url_pdf = "assets/app/doc/LO QUE APRENDI ESTA CUARENTENA UNBJ VENEZUELA.pdf";
                src_img = "assets/app/img/libros/cuarentena_unbj_2do_ebook.jpg";
                titulo = "LO QUE APRENDÍ ESTA CUARENTENA 2DO EBOOK";
                break;

            default:
                alert('Error al obtener los datos el Ebook');
                break;
        }

        titutlo_modal.innerHTML = titulo;
        img.src = src_img;
        input_ebook.value = ebook;
        modal.style.display="block";
        document.getElementById('book_type').value = ebook;
    }
</script>

<script>
    function readmore(libro){
        boton = libro+"_ver_mas";
        parrafo_hidden = libro+"_parrafo_hidden";
        puntos_suspensivos = libro + "_suspensivos";

        boton = document.getElementById(boton);
        parrafo_hidden = document.getElementById(parrafo_hidden);
        puntos_suspensivos = document.getElementById(puntos_suspensivos);

        if (puntos_suspensivos.style.display === "none") {
            puntos_suspensivos.style.display = "inline";
            boton.innerHTML = "Leer mas";
            parrafo_hidden.style.display = "none";
        } else {
            puntos_suspensivos.style.display = "none";
            boton.innerHTML = "Menos";
            parrafo_hidden.style.display = "inline";
        }
    }
</script>
{% endblock %}