{% extends 'overall/includes/layout_include' %}
    {% block migas %}
        <a href="bombona"> Bomboná</a> <i class="fa fa-caret-down w3-btn" onclick="w3_open()"></i>
    {% endblock %}

    {% block style_header %}
        <style type="text/css">
            .header{
                background: rgb(143,12,57);
                background: linear-gradient(180deg, rgba(143,12,57,1) 0%, rgba(204,51,102,0.95) 50%, rgba(255,102,153,0.9) 100%);
            }
        </style>
    {% endblock %}

    {% block tituloSeccion %}
        <p class="w3-large w3-center"><b>Proyecto Niños<br/>Bomboná</b></p>
    {% endblock %}

    {% block submenuTop1 %}
        <a href="bombona/#vision" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="vision">Visión</a>
        <a href="bombona/#coordinadora" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="coordinadora">Coordinadora</a>
        <a href="bombona/#programa" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="programa">Programa</a>
        <a href="bombona/#sede" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="sede">Sede</a>
        <a href="bombona/#trabajo" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="trabajo">Trabajo</a>
    {% endblock %}

    {% block submenuTop2 %}
        <a href="bombona/#vision" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="vision">Visión</a>
        <a href="bombona/#coordinadora" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="coordinadora">Coordinadora</a>
        <a href="bombona/#programa" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="programa">Programa</a>
        <a href="bombona/#sede" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="sede">Sede</a>
        <a href="bombona/#trabajo" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="trabajo">Trabajo</a>
    {% endblock %}