    <!-- Navbar (sit on top) -->
    <div class="w3-top topnav" style="width: 100%">
        <div class="w3-bar w3-white w3-padding w3-card">
            <a href="home" class="w3-bar-item w3-button"> <i class="fa fa-home"></i> <b>GOMUF</b></a>

            <button class="w3-button w3-white w3-large w3-right w3-hide-large" onclick="w3_open()">&#9776;</button>

            <!-- Float links to the right. Hide them on small screens -->
            <!-- Sidebar -->
            <div class="w3-sidebar w3-bar-block w3-animate-right" style="display:none;z-index:5; right: 0px;" id="sidetop">
                <p class="w3-large w3-center w3-text-green"><b>Biblioteca Virtual <br>Metamorfosis Universitaria</b></p>
                <hr>
                <a href="ebooks/#cuarentena_unbj" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cuarentena_unbj">Lo que aprendí esta cuarentena 2do. Ebook</a>

                <a href="ebooks/#habla_señor" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="habla_señor">Habla, Señor, que tú Siervo Escucha</a>

                <a href="ebooks/#joven" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="joven">Jóven Resiliente</a>

                <a href="ebooks/#cyberia" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cyberia">Misiones en Cyberia</a>

                <a href="ebooks/#cuarentena" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cuarentena">En Cuarentena</a>

                <a href="ebooks/#post-covid" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="post-covid">Post Covid 19</a>

                <br><br>
                <hr>

                <a href="ebooks/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="ebooks">
                    <b>Biblioteca Virtual</b>
                </a>

                <a href="bombona/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="bombona">
                    <b>Niños Bomboná</b>
                </a>

                <a href="piaroa/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="piaroa">
                    <b>Misión Piaroa</b>
                </a>
                <hr>
                <!-- aside bottom -->
                <div class="w3-row w3-display-middlebottom">
                    <button class="w3-button w3-inline">
                        <a href="mailto:contacto.gomuf@gmail.com" target="_blank">
                            <i class="fa fa-envelope-o w3-text-blue"></i>
                        </a>
                    </button>
                    <button class="w3-button">
                        <a href="https://www.facebook.com/mufvalencia.ortegaalbornoz/" target="_blank">
                            <i class="fa fa-facebook w3-text-blue"></i>
                        </a>
                    </button>
                    <button class="w3-button">
                        <a href="https://www.instagram.com/mufvalencia/" target="_blank">
                            <i class="fa fa-instagram w3-text-blue"></i>
                        </a>
                    </button>
                </div>
                <br>
            </div>
            <div class="w3-right w3-hide-small w3-hide-medium w3-medium">
               <a href="ebooks/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="ebooks">
                    <b>Biblioteca Virtual</b>
                </a>

                <a href="bombona/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="bombona">
                    <b>Niños Bomboná</b>
                </a>

                <a href="piaroa/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="piaroa">
                    <b>Misión Piaroa</b>
                </a>
            </div>
            
            <div class="w3-left w3-hide-small w3-hide-medium w3-medium">
                <a href="ebooks/#cuarentena_unbj" class="w3-bar-item w3-button w3-hover-none" data-item="cuarentena_unbj">Lo que aprendí esta cuarentena 2do. Ebook</a>
                    <a href="ebooks/#habla_señor" class="w3-bar-item w3-button w3-hover-none" data-item="habla_señor">Habla, Señor, que tú Siervo Escucha</a>
                <a href="ebooks/#joven" class="w3-bar-item w3-button w3-hover-none" data-item="joven">Joven Resiliente</a>
                <a href="ebooks/#cyberia" class="w3-bar-item w3-button w3-hover-none" data-item="cyberia">Misiones en Cyberia</a>
                <a href="ebooks/#cuarentena" class="w3-bar-item w3-button w3-hover-none" data-item="cuarentena">En Cuarentena</a>
                <a href="ebooks/#post-covid" class="w3-bar-item w3-button w3-hover-none" data-item="covid">Post Covid 19</a>
            </div>

            <!-- overlay -->
            <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="overlay_navtop"></div>
        </div>
    </div>

<header class="w3-container w3-center w3-padding-32 w3-white" style="margin-top: 10%">
    <img src="assets/app/img/logo.png" class="w3-image" width="200" height="200">
    <h1 class="w3-xlarge"><b class="w3-text-green">Biblioteca Virtual <br>Metamorfosis Universitaria</b></h1>
    <hr style="width: 50%; margin: 1% auto; color: blue">
</header>