{% extends 'overall/includes/layout_include' %}
    {% block migas %}
        <a href="ebooks"> Ebooks </a> <i class="fa fa-caret-down w3-btn" onclick="w3_open()"></i>
    {% endblock %}

    {% block style_header %}
        <style type="text/css">
            .header{
                background: rgb(165,178,209);
                background: linear-gradient(180deg, rgba(49,49,49,0.8) 0%, rgba(77,86,117,0.85) 35%, rgba(165,178,209,0.9) 100%);
            }
        </style>
    {% endblock %}

    {% block tituloSeccion %}
        <p class="w3-large w3-center"><b>Biblioteca Virtual</b></p>
    {% endblock %}

    {% block submenuTop1 %}
        <a href="ebooks/#cuarentena_unbj" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cuarentena_unbj">Lo que aprendí esta cuarentena 2do. Ebook</a>
        <a href="ebooks/#habla_señor" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="habla_señor">Habla, Señor, que tú Siervo Escucha</a>
        <a href="ebooks/#joven" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="joven">Jóven Resiliente</a>
        <a href="ebooks/#cyberia" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cyberia">Misiones en Cyberia</a>
        <a href="ebooks/#cuarentena" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cuarentena">En Cuarentena</a>
        <a href="ebooks/#post-covid" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="post-covid">Post Covid 19</a>
    {% endblock %}

    {% block submenuTop2 %}
        <a href="ebooks/#cuarentena_unbj" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cuarentena_unbj">Lo que aprendí esta cuarentena 2do. Ebook</a>
        <a href="ebooks/#habla_señor" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="habla_señor">Habla, Señor, que tú Siervo Escucha</a>
        <a href="ebooks/#joven" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="joven">Jóven Resiliente</a>
        <a href="ebooks/#cyberia" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cyberia">Misiones en Cyberia</a>
        <a href="ebooks/#cuarentena" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="cuarentena">En Cuarentena</a>
        <a href="ebooks/#post-covid" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="post-covid">Post Covid 19</a>
    {% endblock %}