{% extends 'overall/includes/layout_include' %}
    {% block tituloSeccion %}
        <p class="w3-large w3-center"><b>Proyecto Global</b></p>
    {% endblock %}

    {% block submenuTop1 %}
        <!--<button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>-->
        <a href="#nosotros" class="w3-bar-item w3-button w3-small" data-item="nosotros">Nosotros</a>
        <a href="#valores" class="w3-bar-item w3-button w3-small" data-item="valores">Valores</a>
        <a href="#staff" class="w3-bar-item w3-button w3-small" data-item="staff">Staff</a>
        <a href="#campus_accion" class="w3-bar-item w3-button w3-small" data-item="campus_accion">Campus de Acción</a>
        <a href="#alianzas" class="w3-bar-item w3-button w3-small" data-item="staff">Alianzas</a>
        <a href="#contact" class="w3-bar-item w3-button w3-small" data-item="contact">Contacto</a>
    {% endblock %}

    {% block submenuTop2 %}
        <a href="#nosotros" class="w3-bar-item w3-button" data-item="nosotros">Nosotros</a>
        <a href="#valores" class="w3-bar-item w3-button" data-item="valores">Valores</a>
        <a href="#staff" class="w3-bar-item w3-button" data-item="staff">Staff</a>
        <a href="#campus_accion" class="w3-bar-item w3-button" data-item="campus_accion">Campus de Acción</a>
        <a href="#alianzas" class="w3-bar-item w3-button" data-item="alianzas">Alianzas</a>
        <a href="#contact" class="w3-bar-item w3-button" data-item="contact">Contacto</a>
    {% endblock %}