{% block style_header %}{% endblock %}

<header class="header w3-container w3-padding-16 w3-white">

	{% include 'overall/includes/logo' %}
	<button id="btn_menu" class="w3-button w3-large w3-hide-large" onclick="w3_open()">&#9776;</button>
    <!-- Navbar (sit on top) -->
    <div class="topnav w3-card" id="navTop">
        <div class="w3-bar w3-padding">
            <a href="home" class="w3-bar-item w3-button"><b><i class="fa fa-home"></i> GOMUF</b></a>
            <button class="w3-button w3-white w3-large w3-right w3-hide-large" onclick="w3_open()">&#9776;</button>
            <div class="w3-right w3-hide-small w3-hide-medium w3-medium">
                {% block submenuTop2 %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Float links to the right. Hide them on small screens -->
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-right" style="display:none;" id="sidetop">
        <!-- sidebar's header-->
        <img src="assets/app/img/logo.png" id="logo_img" alt="GoMuf Logo">
        {% block tituloSeccion %}{% endblock %}
        <hr/>
        
        {% block submenuTop1 %}{% endblock %}
        
        <hr/>
        
        <a href="ebooks/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="ebooks">
            <b>Biblioteca Virtual</b>
        </a>

        <a href="bombona/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="bombona">
            <b>Niños Bomboná</b>
        </a>

        <a href="piaroa/" class="w3-bar-item w3-button w3-hover-none w3-small w3-text-blue" data-item="piaroa">
            <b>Misión Piaroa</b>
        </a>
        <hr/>
        <!-- aside bottom -->
        <div class="w3-row w3-display-middlebottom">
            <button class="w3-button w3-inline">
                <a href="mailto:contacto.gomuf@gmail.com" target="_blank">
                    <i class="fa fa-envelope-o w3-text-blue"></i>
                </a>
            </button>
            <button class="w3-button">
                <a href="https://www.facebook.com/mufvalencia.ortegaalbornoz/" target="_blank">
                    <i class="fa fa-facebook w3-text-blue"></i>
                </a>
            </button>
            <button class="w3-button">
                <a href="https://www.instagram.com/mufvalencia/" target="_blank">
                    <i class="fa fa-instagram w3-text-blue"></i>
                </a>
            </button>
        </div>
        <br/>
    </div>
    <!-- overlay -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer; z-index: 3;" id="overlay_navtop"></div>

    <div class="w3-row w3-text-white w3-small margin-top-20" id="migas_header">
    	<a href="home" id="btn_home"><i class="fa fa-home"></i> GoMuf &nbsp; <i class="fa fa-caret-right"></i> </a>
    	{% block migas %}{% endblock %}
    </div>

    <script>
	    path = location.pathname.replace('/m.gomuf.com/', '');
        path = path.replace('/', '');
	    if(path == '' || path == 'home' || path == '/' || path == 'home/'){
	        document.getElementById('btn_home').style.display = "none";
	    };
	</script>
</header>

<script>
	//window.scrollTo(0, 500);
    header = document.getElementsByTagName("header")[0];
    banner_head = document.getElementById("banner_head");
    navTop = document.getElementById("navTop");

    navTop.classList.add("w3-hide");

    window.onload = function(){
    	if(screen.width > 600){
			mostrar_navTopXXL();
		}else{
			banner_head.classList.remove("w3-left");
			window.onscroll = function() {
				console.log(screen.width);
				scrollFunction();
			};
		}
    }

	function scrollFunction() {

		if (document.body.scrollTop >= 5 || document.documentElement.scrollTop >= 5) {
            setTimeout(function(){
				mostrar_navTop();
            }, 500);

		} else {
            setTimeout(function(){
	            ocultar_navTop();
            }, 500);
			
		}
	}
	function mostrar_navTopXXL(){
		console.log("navTopXXL");
		
		banner_head.classList.add("w3-left");
	}

	function mostrar_navTop(){
		header.classList.remove("w3-padding-16");
				
		navTop.classList.remove("w3-hide");
		navTop.classList.add("w3-top");
		navTop.classList.add("w3-white");
	}

	function ocultar_navTop(){
		header.classList.add("w3-padding-16");

        navTop.classList.add("w3-hide");
        navTop.classList.remove("w3-top");
        navTop.classList.remove("w3-white");
	}
</script>