{% extends 'overall/includes/layout_include' %}
    {% block migas %}
        <a href="piaroa"> Piaroa </a> <i class="fa fa-caret-down w3-btn" onclick="w3_open()"></i>
    {% endblock %}

    {% block style_header %}
        <style type="text/css">
            .header{
                background: rgb(0,102,0);
                background: linear-gradient(180deg, rgba(0,102,0,.95) 0%, rgba(51,153,51,.93) 50%, rgba(102,204,102,.87) 100%);
            }
        </style>
    {% endblock %}

    {% block tituloSeccion %}
        <p class="w3-large w3-center"><b>Misión Piaroa <br/>de la IBMUF <br/>Valencia</b></p>
    {% endblock %}

    {% block submenuTop1 %}
        <a href="piaroa/#misiones" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="misiones">Misiones</a>
        <a href="piaroa/#programa" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="programa">Programa</a>
        <a href="piaroa/#galeria" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="galeria">Galeria</a>
    {% endblock %}

    {% block submenuTop2 %}
        <a href="piaroa/#misiones" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="misiones">Misiones</a>
        <a href="piaroa/#programa" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="programa">Programa</a>
        <a href="piaroa/#galeria" class="w3-bar-item w3-button w3-hover-none w3-small" data-item="galeria">Galeria</a>
    {% endblock %}