{% extends 'overall/layout' %}
{% block appBody %}

<!-- incluyendo el banner al home -->
{% include 'overall/includes/piaroa' %}


<div class="w3-row w3-white w3-padding-large w3-animate-left" style="height: 600px" id="misiones">
	<div class="w3-col l6 m6 s12">
		<div class="w3-panel">
			<img src="assets/app/img/mision_piaroa/alberto_adipate.png" class="w3-image w3-col l6 m5 s5" width="300" height="371">	
			<div class="w3-container w3-col l6 m7 s7 w3-center">
				<strong class="w3-block w3-margin-bottom">Misionero <br> Alberto Adipate</strong>
				<a href="https://www.facebook.com/adipate" target="_blank" class="w3-padding">
                	<i class="fa fa-facebook w3-text-blue"></i>
	            </a>
	            <a href="https://www.instagram.com/albertoadipate/" target="_blank" class="w3-padding">
	                <i class="fa fa-instagram w3-text-purple"></i>
	            </a>
			</div>
		</div>
	</div>

	<div class="w3-col l6 m6 s12 w3-center">
		<div class="w3-panel">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9697.878201982225!2d-67.55713400000002!3d5.043521!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd75ec09f85701e60!2sRaudal%20de%20Danto!5e1!3m2!1ses-419!2sve!4v1603130271769!5m2!1ses-419!2sve" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class=""></iframe>
			<div class="w3-container w3-display-center">
				<p>Lugar de trabajo <br><strong> Raudal del Danto. Municipio Autana - Amazonas VE.</strong></p>
			</div>

		</div>
	</div>
</div>

<div class="w3-section w3-center" id="programa">
	<div class="w3-padding-large">
		<p class="">
			Capacitando a nuevo liderazgo de la iglesia Cristiana piaroa
			<br>en las siguientes áreas:<br>
			<strong class="w3-large">Cosmovision - Liderazgo - Educación con los Principios Bíblicos y Traducciónes de la Historia Bíblica en su Idioma de Corazón. </strong>
			<br><br>
			También promoviendo el <strong class="w3-large">rescate de la identidad cultural Piaroa </strong>por medio de la alfabetización con razonamientos. 
			<br><br>
			Con el fin de que la iglesia cristiana Piaroa tenga un <strong class="w3-large w3-padding">conocimiento amplio de la verdad de Cristo. </strong>
		</p>
	</div>
</div>

<style type="text/css">
	#galeria.piaroa{
		padding: 15% 2%;
	}

	#galeria.piaroa #img_displayed{
		width: 100%;
	}

	#galeria.piaroa .demo{
		width: 100%;
		height: 50%;
		cursor: pointer;
		padding: 5%;
	}
</style>

<div class="w3-row w3-white piaroa" id="galeria">

	<div class="w3-section w3-col l6 m12 s12">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img21.jpeg" id="img_displayed">
	</div>
	<div class="w3-col l6 m12 s12">
		<div class="w3-row">
		<!-- se le coloca doble "opacity-off" para lograr la "vista actual" en la galeria de imagenes -->
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity-off" src="assets/app/img/mision_piaroa/img21.jpeg">
			</div>
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img1.jpeg">
			</div>
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img3.jpeg">
			</div>
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img4.jpeg">
			</div>
		</div>

		<div class="w3-row">
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img5.jpeg">
			</div>
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img6.jpeg">
			</div>
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img7.jpeg">
			</div>
			<div class="w3-col l6 m3 s3">
				<img onclick="currentDiv(this, this.src)" class="demo w3-opacity" src="assets/app/img/mision_piaroa/img8.jpeg">
			</div>
		</div>
	</div>

</div>

<script>
	function currentDiv(el, src) {
		showDivs(el, src);
	}

	function showDivs(el, src) {
		let i;
		let x = document.getElementById("img_displayed");
		let dots = document.getElementsByClassName("demo");
		x.className = "mySlides";
		x.className += " w3-animate-top";
		x.src = src;

		for (i = 0; i < dots.length; i++) {
			dots[i].className = "demo w3-opacity";
		}
		el.className += " w3-opacity-off w3-animate-zoom";

		setTimeout(function(){
			x.className = "mySlides";
		}, 1000);
	}
</script>


<script>
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
		if (document.body.scrollTop > 550 || document.documentElement.scrollTop > 550) {
			document.getElementById("desc_piaroa").className += " w3-animate-right";
		} else {
			document.getElementById("desc_piaroa").className.replace(" w3-animate-right", "");
		}
	}
</script>

{% endblock %}